@keyframes btn-hover {
  0% {
    bottom: -25px;
    left: -65px;
  }
  50% {
    bottom: -4px;
    left: -1px;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

#custom-container {
  width: 40%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 2em;
}

.custom-title {
  font-size: 2.5rem;
  font-family: "Montserrat", serif;
}

#diceNumber,
#btn {
  border: 1px solid black;
}

#diceNumber {
  font-size: 1.2rem;
}

#btn {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 83, 121, 1) 0%,
    rgba(0, 129, 255, 1) 27%
  );

  color: white;
  font-weight: 500;

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#btn span {
  position: relative;
  z-index: 1;
}

#btn::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: -20px;
  left: -75px;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 83, 121, 1) 31%,
    rgba(0, 129, 255, 1) 100%
  );
}

#btn:hover::before {
  animation: btn-hover 0.5s forwards ease-in-out;
}

.display-result {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 83, 121, 1) 0%,
    rgba(0, 129, 255, 1) 27%
  );
  border-radius: 5px 0 5px 0;
}

#result {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Montserrat", serif;
  color: white;
  margin: 5px;
}

@media (max-width: 713px) {
  #custom-container {
    width: 80%;
  }
}
@media (max-width: 451px) {
  #custom-container {
    width: 95%;
  }
}
